<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsjbc.vdtts.dao.mapper.SchoolMapper">

<!--陈竑霖-->
    <!--    连表查询所属驾校的信息-->
    <select id="schoolList" resultType="com.lsjbc.vdtts.entity.School">
        select * from tb_school
        <where>
         <if test="e.sName!=null and e.sName!=''"> and s_name like concat('%',#{e.sName},'%')</if>
            <if test="e.sLock!=null and e.sLock!=''"> and s_lock = #{e.sLock}</if>
            <if test="e.sVerification!=null and e.sVerification!=''"> and s_verification = #{e.sVerification}</if>
            <if test="e.sRecruit!=null and e.sRecruit!=''"> and s_recruit = #{e.sRecruit}</if>
        </where>
         limit ${start},#{pageSize}
    </select>
<!--分页-->
    <select id="schoolcount"  resultType="int" parameterType="com.lsjbc.vdtts.entity.School" >
        select count(s_id) from tb_school
        <where>
            <if test="e.sName!=null and e.sName!=''"> and s_name like concat('%',#{e.sName},'%')</if>
            <if test="e.sLock!=null and e.sLock!=''"> and s_lock = #{e.sLock}</if>
            <if test="e.sVerification!=null and e.sVerification!=''"> and s_verification = #{e.sVerification}</if>
            <if test="e.sRecruit!=null and e.sRecruit!=''"> and s_recruit = #{e.sRecruit}</if>
        </where>
    </select>
    <!--    修改审核状态-->
    <update id="updateschoolInfo" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set s_verification = '1', s_lock='true', s_recruit='true' where s_id = #{sId}
    </update>
    <!--    查询驾校-->
    <select id="findschool" parameterType="int" resultType="com.lsjbc.vdtts.entity.School">
        select * from tb_school;
    </select>
    <!--    修改处罚招生状态-->
    <update id="punishcall" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set  s_recruit='false' where s_id = #{sId}
    </update>
    <!--    修改解禁招生状态-->
    <update id="unbindcall" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set  s_recruit='true' where s_id = #{sId}
    </update>
    <!--    修改处罚登录状态-->
    <update id="punishlogon" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set  s_lock='false' where s_id = #{sId}
    </update>
    <!--    修改解禁登录状态-->
    <update id="unbindlogon" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set  s_lock='true' where s_id = #{sId}
    </update>
<!--    刘海-->
    <select id="findSchoolInfo" resultType="com.lsjbc.vdtts.entity.School" parameterType="int">
        select sh.*,ac.* from tb_school sh left join tb_account ac on sh.s_account_id = ac.a_id where sh.s_id = #{sId}
    </select>
    <!-- 驾校入驻 -->
    <insert id="addSchool" keyProperty="sId" useGeneratedKeys="true">
        insert into tb_school (s_account_id, s_name, s_address, s_phone, s_business_id, s_business_pic,
         s_owner_id, s_owner_pic, s_verification, s_recruit, s_lock, s_reg_time, s_registery_fee)
         values (#{sAccountId}, #{sName}, #{sAddress}, #{sPhone}, #{sBusinessId}, #{sBusinessPic},
         #{sOwnerId}, #{sOwnerPic}, #{sVerification}, #{sRecruit}, #{sLock}, #{sRegTime}, #{sRegisteryFee})
    </insert>
    <!--用于登录sql 李浪-->
    <select id="findAccount" parameterType="int" resultType="com.lsjbc.vdtts.entity.School">
        select * from tb_school where s_account_id = #{sAccountId}
    </select>

    <!--  周永哲，驾校信息初始化-->
    <select id="selectAllInfo" resultType="com.lsjbc.vdtts.entity.School"  parameterType="com.lsjbc.vdtts.entity.School">
        select s.*, a.a_account s_account_ip from tb_school s left join tb_account a on s.s_account_id = a.a_id
        <where>
            <if test="school.sName!=null and school.sName!=''">
                and s.s_name like CONCAT('%', #{school.sName} ,'%')
            </if>
        </where>
        limit #{page},#{limit}
    </select>

    <!--  周永哲，统计驾校信息条数-->
    <select id="selectSchoolCount" resultType="int"  parameterType="com.lsjbc.vdtts.entity.School">
        select count(*) from tb_school
        <where>
            <if test="school.sName!=null and school.sName!=''">
                and s_name like CONCAT('%', #{school.sName} ,'%')
            </if>
        </where>
    </select>

    <!--  周永哲，删除驾校/锁定登录-->
    <update id="deleteSchool"  parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set s_lock ='true' where s_id = #{schoolId}
    </update>

    <!--  周永哲，添加驾校账号-->
    <insert id="insertSchoolAccount" parameterType="com.lsjbc.vdtts.entity.Account" useGeneratedKeys="true" keyProperty="aId">
        insert into tb_account(a_account, a_password, a_type) values (#{account.aAccount},#{account.aPassword},'school')
    </insert>
    <!--  周永哲，添加驾校信息-->
    <insert id="insertSchool" parameterType="com.lsjbc.vdtts.entity.School">
        insert into tb_school(s_account_id, s_name, s_address, s_phone, s_business_id, s_business_pic, s_owner_id, s_owner_pic, s_verification, s_recruit, s_reg_time)
        values (#{sAccountId},#{sName},#{sAddress},#{sPhone},#{sBusinessId},#{sBusinessId},#{sBusinessPic},#{sOwnerId},#{sOwnerPic},#{sVerificattion},#{sRecruit},#{sRegTime})
    </insert>
    <!--  周永哲，驾校信息修改-->
    <insert id="updateSchool" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school set s_name =#{sName}, s_address=#{sAddress}, s_phone=#{sPhone}, s_recruit=#{sRecruit}, s_lock=#{sLock} where s_id =#{sId}
    </insert>

<!--    刘海-->
    <update id="updateSchoolBasicInfo" parameterType="com.lsjbc.vdtts.entity.School">
        update tb_school
        <set>
        <if test="school.sImageUrl==null||school.sImageUrl==''">
         s_address = #{sAddress},s_phone = #{sPhone} where s_id = #{sId}
        </if>

    </set>
    </update>

    <select id="findSchoolPwd" parameterType="int" resultType="java.lang.String">
        select a_password from tb_account where a_id=#{aId}
    </select>

    <update id="updateSchoolPwd">
        update tb_account set a_password = #{aPassword} where a_id=#{aId}
    </update>
    <!--  周永哲，驾校信息修改-->
    <select id="selectStudentCount" resultType="com.lsjbc.vdtts.entity.School">
     select tsl.s_name ,count(tst.s_id) student_count from tb_school tsl,tb_student tst
     where tsl.s_id=tst.s_school_id group by tsl.s_name
    </select>
    <!--  周永哲，参数信息查询-->
    <select id="selectParamInfo" parameterType="com.lsjbc.vdtts.entity.ExamParam" resultType="com.lsjbc.vdtts.entity.ExamParam">
        select * from tb_param
        <where>
            <if test="examParam.pmKey!=null and examParam.pmKey!=''">
                and pm_key like CONCAT('%', #{examParam.pmKey} ,'%')
            </if>
        </where>
        limit #{page},#{limit}
    </select>


</mapper>